body {
  font-size: 16px;
  --font-color: #6C3B01;
  --font-color-accent: #B45C4C;
  --bg-base-color: #F5F8FF;
  --bg-yellow: #FFFB8C;
  --bg-lightBlue: #B5E1FF;
  --bg-green: #A5FF9F;
  --bg-lightpink: #FFE6E6;
  --bg-pink: #FFD5D5;
  --accent-orange: #FD5000;
  --accent-red:#FA9B9B;
  --accent-green01: #71936D;
  --accent-green02: #00B900;
  --white-color: #ffffff;
  font-family: fot-tsukuardgothic-std, sans-serif;
  color: var(--font-color);

  overflow-x: hidden;
}

/* 共通スタイル */
.bold {
  font-weight: bold;
}
.pc_only {
  display: block;
  @media (max-width: 768px) {
    display: none;
  }
}
.sp_only {
  display: none;
  @media (max-width: 768px) {
    display: block;
  }
}

/* 共通ボタン */
.button {
  cursor: pointer;
  display: flex;
  margin: 20px auto 30px;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  border-bottom: var(--accent-green01) 2px dashed;
  transition: opacity 0.3s ease;
  &:hover {
    opacity: 0.6;
  }
  span {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--accent-green01);
  }
  i {
    display: block;
    margin-bottom: 10px;
  }
}

/* spヘッダー */
.sp__header {
  display: none;

  @media (max-width: 768px) {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 10px;
    left: 0;
    right: 0;
    width: 100%;
    padding: 10px 0 10px 15px; 
    z-index: 100;
    height: 60px; 
    .logo__link {
      cursor: pointer;
      .logo {
        width: 85px;
        height: 50px;
      }

    }
    .hambergar__container {
      width: 127px;
      height: 60px;
      background-color: var(--accent-green02);
      border-radius: 27.5px 0 0 27.5px;
      display: flex;
      justify-content: center;
      gap: 30px;
      align-items: center;
      @media (max-width: 768px) {
        top: 10px;
      }
      
      .hambergar_box {
        width: 30px;
        height: 18px;
        position: relative;
        span {
          display: inline-block;
          height: 2px;
          width: 100%;
          background-color: var(--white-color);
          border-radius: 9999px;
          position: absolute;
          &:nth-child(1) {
            top: 0;
          }
          &:nth-child(2) {
            top: 50%;
            transform: translateY(-50%);
          }
          &:nth-child(3) {
            bottom: 0;
          }
        }
      }
      .serch__img {
        width: 30px;
        height: 30px;
      }
    }
  }
}

/* ハンバーガーメニュー */
.hambergar__container {
  cursor: pointer;
  position: fixed;
  top: 50px;
  right: 0;
  z-index: 200;
  width: 90px;
  height: 200px;
  border-radius: 10px 0 0 10px;
  padding: 60px auto 30px;
  background-color: var(--accent-green02);
  right: 0;
  transition: right 0.3s ease, height 0.3s ease;
  &.active {
    right: 450px;
    height: 110px;
    .hambergar__box {
      span {
        &:nth-child(1) {
          transform: translate(-50%, 0) rotate(45deg);
          top: 50%;
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          transform: translate(-50%, 0) rotate(-45deg);
          bottom: auto;
          top: 50%;
        }
      }
    }
    .serch_img {
      display: none;
    }
  }
  .hambergar__box {
    padding-top: 60px;
    padding-bottom: 50px;
    width: 100%;
    height: 30px;
    position: relative;
    
    & span {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 35px;
      height: 4.5px;
      border-radius: 9999px;
      background-color: var(--white-color);
      transition: transform 0.7s ease;
      &:nth-child(1) {
        top: 40px;
      }
      &:nth-child(2) {
        top: 50%;
        transform: translate(-50%, -50%);
      }
      &:nth-child(3) {
        bottom: 40px;
      }
    }
    
  }
  .serch_img {
    width: 35px;
    height: 35px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

.hambergar__menu {
  position: fixed;  /* スクロール位置に関係なく常に画面に対して固定 */
  right: 0;
  top: 0;
  overflow-y: auto;
  height: 100vh;
  z-index: 9999;
  transform: translateX(100%);
  width: 450px;
  background-color: var(--white-color);
  border-left: var(--accent-green02) solid 20px;
  padding-left: 40px;
  padding-right: 40px;
  transition: transform 0.3s ease;

  .hambergar__button {
    margin: 50px 40px 35px auto;
    width: 25px;
    height: 25px;
    position: relative;
  
    span {
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      height: 3px;
      width: 100%;
      background-color: var(--accent-green02);
      border-radius: 9999px;
      &:nth-child(1) {
        transform: rotate(45deg);
      }
      &:nth-child(2) {
        transform: rotate(135deg);
      }
    }
  }
  .search__wrapper {
    margin-top: 20px;
    margin-bottom: 50px;

    input {
      width: 248px;
      height: 50px;
      border-radius: 20px;
      background-color: var(--white-color);
      border: var(--accent-green02) solid 2px;
      padding-left: 23px;
      color: var(--font-color);
      font-size: 1.25rem;
      margin-right: 8px;
    }
    button {
      background-color: #FFECEC;
      width: 80px;
      height: 50px;
      border: var(--accent-green02) solid 2px;
      border-radius: 20px;
      font-size: 1.375rem;
      text-align: center;
    }
  }
  nav {
    margin-bottom: 60px;

    .nav__category-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 14px;
      padding-right: 14px;
      padding-bottom: 10px;
      padding-top: 10px;
      border-bottom: dotted var(--font-color) 0.75px;

      &:has(.accordion__button.active) + ul {
        display: block;
      }
      .nav__category-title {
        font-size: 1.25rem;
      }
      
      .accordion__button {
        width: 20px;
        height: 20px;
        position: relative;
        cursor: pointer;
        

        span {
          position: absolute;
          height: 1.5px;
          border-radius: 9999px;
          width: 100%;
          background-color: var(--font-color);
          transition: transform 0.5s ease;

          &:nth-child(1) {
            left: 0;
            top: 50%;
            transform: translateY(-50%) rotate(0deg);
          }
          &:nth-child(2) {
            top: 50%;
            left: 0;
            transform: rotate(90deg) translateY(-50%);
          }
        }
        &.active {          
          span {
            &:nth-child(1) {
              display: none;
            }
            &:nth-child(2) {
              transform: rotate(0deg);
            }
          }
        }
      }
    }
    ul {
      display: none; /*  初期非表示 */
      transition: display 0.5s ease;
      margin-top: 16px;
      margin-bottom: 25px;
      
      li {
        margin-bottom: 16px;
        padding-left: 14px;
        a {
          cursor: pointer;
          span {
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            margin-right: 10px;
            background-color: transparent;
            border: 2px solid;
            opacity: 0.4;
          }
          .green {
            border-color: var(--accent-green02);
          }
          .orange {
            border-color: var(--accent-orange);
          }
          .red {
            border-color: var(--accent-red);
          }
        }
      }
    }
  }
  .button_wrapper {
    text-align: center;
  }
  .close-hambergar__container{
    width: 95px;
    margin: 60px auto 58px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .hambergar__box {
      width: 20px;
      height: 20px;
      position: relative;

      span {
        height: 2px;
        width: 100%;
        background-color: var(--accent-green02);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        &:nth-child(1) {
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          transform: rotate(135deg);
        }
      }
    }
    .close-title {
      font-weight: normal;
    }
  }
  @media (max-width: 768px) {
    width: 360px;
    padding-left: 20px;
    padding-right: 20px;
    .hambergar__button {
      margin: 35px 25px 25px auto;
    }
    .search__wrapper {
      margin-bottom: 25px;
      display: flex;
      justify-content: space-between;
      input {
        width: 220px;
        font-size: 1rem;
      }
      button {
        width: 65px;
        font-size: 1rem;
      }
    }
  }
}


/* トップページ */
#home.container {
  width: 100%;
  display: flex;
  align-items: start;
  background-color: var(--bg-base-color);
  position: relative;

  .left__column {
    flex: 1;
    position: sticky;
    top: 250px;
    height: 100vh;

    @media (max-width: 768px) {
      display: none;
    }

    .line__container {
      display: block;
      position: sticky;
      top: 50%;
      transform: translateY(-50%);
      width: 80%;
      max-width: 255px;
      margin: 0 auto;
      background-color: white;
      border-radius: 20px;
      padding: 30px 20px;
      text-align: center;
      transition: opacity 0.3s ease;
      &:hover {
        opacity: 0.7;
      }
      .line__img {
        width: 65px;
        margin-bottom: 20px;
      }

      .qr__img {
        width: 80%;
        margin-bottom: 20px;
      }

      .oc__text_box {
        position: relative;
        display: inline-block;

        &::before {
          position: absolute;
          left: -1em;
          top: 0;
          content: '';
          width: 2px;
          height: 100%;
          background-color: var(--font-color);
          border-radius: 3px;
          transform: rotate(-30deg);
          @media (max-width: 1084px) {
            background-color: transparent;            
          }
        }

        &::after {
          position: absolute;
          right: -1em;
          top: 0;
          content: '';
          width: 2px;
          height: 100%;
          background-color: var(--font-color);
          border-radius: 3px;
          transform: rotate(30deg);
          @media (max-width: 1084px) {
            background-color: transparent;            
          }
        }

        .oc__text {
          font-size: 1rem;
          @media (max-width: 1083px) {
            font-size: 0.85rem;
          }
          @media (max-width: 904px) {
            display: none;
          }
          .column_br {
            display: none;
            @media (max-width: 1025px) {
              display: block;              
            }
          }
        }
      }
    }
  }

  .center__column {
    width: 100%;
    max-width: 600px;
    flex-shrink: 0;
    background-color: var(--white-color);

    @media (max-width: 768px) {
      width: 100%;
      max-width: 100%;
    }
    
    .center__wrapper {
      height: 350px;
      background: url(../images/background/bg_yellow.webp) no-repeat top center;
      text-align: center;
      @media (max-width: 768px) {
        padding-top: 60px;
        height: 410px;
      }
      
      
      .logo__link {
        @media (max-width: 768px) {
          display: none;
        }
        .logo {
          width: 125px;
          display: inline-block;
          margin: 50px auto 45px;
        }
      }

      .title {
        font-size: 1.5rem;
        @media (max-width: 768px) {
          padding-top: 60px;
        }
      }

      .subtitle {
        font-size: 1.25rem;
      }
    }

    .hero {
      position: relative;
      z-index: 0;
      margin: 30px 0 80px;
      display: block;
    }

    .sec01 {
      width: 90%;
      margin: 0 auto;
      text-align: center;

      .about_site_title {
        display: inline-block;
        padding-bottom: 10px;
        margin-bottom: 30px;
        font-size: 1.5rem;
        border-bottom: solid 0.5px var(--font-color);
      }

      .about_site_text {
        font-size: 1.125rem;
        text-align: left;
        line-height: 34px;
        margin-bottom: 30px;
        @media (max-width: 768px) {
          font-size: 1rem;
          margin-bottom: 40px;         
        }
      }
    }
    .bg_lightblue {
      position: relative;
      top: 1px;
      width: 100%;
      margin-top: 30px;
      @media (max-width: 768px) {
        margin-top: 40px;        
      }
    }
    .bg-blue {
      background-color: var(--bg-lightBlue);
    }
    .sec02 {
      text-align: center;
      padding-bottom: 70px;
      
      .sec02__center {
        text-align: center;
        .sec02__title {
          display: inline-block;
          margin: 95px auto 10px;
          font-size: 1.5rem;
          padding-bottom: 10px;
          border-bottom: var(--font-color) dotted 0.5px;
        }
        .sec02__sub-title {
          margin: 10px auto 90px;
          font-size: 1.125rem;
        }
      }
      
      .support {
        position: relative;
        margin: 0 auto 35px;
        width: 157px;
        height: 203px;

        .support__accent {
          position: absolute;
          top: -40px;
          right: -40px;
          width: 65px;
        }
        .support__button {
          cursor: pointer;
          display: block;
          border: var(--white-color) solid 1px;
          border-radius: 30px;
          box-shadow: var(--font-color) 0 5px 0;
          &.lightpink {
            background-color: var(--bg-lightpink);
            transition: opacity 0.3s ease;
            &:hover {
            opacity: 0.7;
            }
          } 
          .support__title {
            display: inline-block;
            margin-top: 15px;
            font-size: 1.5rem;
            padding-bottom: 10px;
            border-bottom: var(--font-color-accent) solid 1px;
            @media (max-width: 768px) {
              font-size: 1.25rem;
            }
          }
          .support__img {
            margin: 15px auto;
            display: block;
            width: 50px;
            height: 50px;
          }
          .support__text {
            font-size: 0.9375rem;
            margin-bottom: 15px;
          }
        } 
      }
      .support-info__button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 340px;
        margin: 38px auto;
        border: var(--white-color) solid 1px;
        box-shadow: var(--font-color) 0 5px 0;
        border-radius: 30px;
        padding: 15px 15px 15px 25px;
        text-align: left;
        &.lightpink {
          background-color: var(--bg-lightpink);
          transition: opacity 0.3s ease;
          &:hover {
            opacity: 0.7;
          }
        }
        &.pink {
          background-color: var(--bg-pink);
          transition: opacity 0.3s ease;
          &:hover {
            opacity: 0.7;
          }
        } 
        .support__botton-left {
          .support__title {
            font-size: 1.375rem;
            padding-bottom: 5px;
            border-bottom: var(--font-color-accent) solid 1px;
            @media (max-width: 768px) {
              font-size: 1.25rem;
            }
          }
          .support__subtitile {
            padding-top: 7px;
            font-size: 0.9375rem;
          }
        }
        .support__img {
          &:first-child {
            width: 50px;
          }
          &:nth-child(2) {
            width: 45px;
          }
          &:nth-child(3) {
            width: 75px;
          }
          &:last-child {
            width: 55px;
          }
        }
      }
    }
    .sec03 {
      padding-top: 70px;
      padding-bottom: 50px;
      background-color: var(--bg-yellow);
      position: relative;
      text-align: center;
      .sec03__top-img {
        position: absolute;
        top: -5px;
        left: 0;
        right: 0;
      }
      .sec03__top-img {
        margin-bottom: 112px;
      }
      .future__img {
        display: block;
        margin: 112px auto 0;
        width: 250px;
        padding-bottom: 18px;
        border-bottom: var(--font-color) solid 0.5px;
      }
      .qol {
        width: 380px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        text-align: left;
        font-size: 1.125rem;
        @media (max-width: 769px) {
          font-size: 1rem;
          width: 90%;
          max-width: 330px;
        }
      }
      .flower {
        width: 90px;
        display: block;
        margin: 77px auto 140px;
        @media (max-width: 768px) {
          width: 60px;
          margin-bottom: 80px;
        }
      }
      .enquete__link {
        cursor: pointer;
        display: block;
        width: 380px;
        margin: 0 auto 30px;
        transition: opacity 0.3s ease;
        &:hover {
          opacity: 0.7;
        }
        @media (max-width: 768px) {
          width: 340px;
        }
        .enquete_link-img {
          width: 100%;
        }
        .button {
          &:nth-child(1) {
            margin-bottom: 20px;
          }
        }
      }
    }
    .sec04 {
      background-color: var(--white-color);
      position: relative;
      text-align: center;
      .sec04__top-img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
      }
      .about-sle__title {
        display: inline-block;
        margin-bottom: 30px;
        padding-top: 140px;
        font-size: 1.5rem;
        padding-bottom: 5px;
        border-bottom: var(--font-color) solid 0.5px;
      }
      p {
        text-align: left;
        width: 80%;
        max-width: 540px;
        margin: 0 auto 66px;
      }
      .about-sle__enquete {
        margin-bottom: 100px;
      }
    }
    .sec05 {
      background-color: var(--bg-green);
      position: relative;
      text-align: center;
      padding-bottom: 80px;
      .sec05__top-bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
      }
      .concern__title {
        padding-top: 120px;
        display: inline-block;
        font-size: 1.5rem;
        padding-bottom: 10px;
        border-bottom: var(--font-color) solid 0.5px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
      }
      p {
        font-size: 1.125rem;
        @media (max-width: 768px) {
          font-size: 1rem;
        }
      }
      .concern__wrapper {
        width: 80%;
        max-width: 500px;
        margin: 40px auto;
        height: 220px;
        position: relative;
        @media (max-width: 768px) {
          width: 90%;
        }
        .concern__link {
          .darusa {
            width: 125px;
            position: absolute;
            top: 0;
            left: 0;
            transition: transform 0.3s ease, opacity 0.3s ease;
            &:hover {
              opacity: 0.7;
              transform: rotate(-8deg);
            }
            @media (max-width: 768px) {
              width: 110px;
            }
          }
          .fuan {
            width: 99px;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%) rotate(-3deg);
            transition: transform 0.3s ease, opacity 0.3s ease;
            &:hover {
              opacity: 0.7;
              transform: translateX(-50%) rotate(-11deg);
            }
            @media (max-width: 768px) {
              width: 95px;
            }
          }
          .school {
            width: 99px;
            position: absolute;
            top: 0;
            right: 10px;
            transition: transform 0.3s ease, opacity 0.3s ease;
            &:hover {
              opacity: 0.7;
              transform: rotate(-8deg);
            }
            @media (max-width: 768px) {
              width: 90px;
            }
          }
          .doctor {
            width: 230px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            transition: transform 0.3s ease, opacity 0.3s ease;
            &:hover {
              opacity: 0.7;
              transform: rotate(-3deg) translateY(-50%);
            }
            @media (max-width: 768px) {
              width: 200px;
            }
          }
          .skin {
            width: 97px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            transition: transform 0.3s ease, opacity 0.3s ease;
            &:hover {
              opacity: 0.7;
              transform: rotate(-8deg) translateY(-50%);
            }
            @media (max-width: 768px) {
              width: 90px;
            }
          }
          .qol {
            width: 170px;
            position: absolute;
            bottom: 0;
            left: 20px;
            transition: transform 0.3s ease, opacity 0.3s ease;
            &:hover {
              opacity: 0.7;
              transform: rotate(-8deg);
            }
            @media (max-width: 768px) {
              width: 160px;
            }
          }
          .medicine {
            width: 75px;
            position: absolute;
            bottom: 0px;
            right: 40px;
            transition: transform 0.3s ease, opacity 0.3s ease;
            &:hover {
              opacity: 0.7;
              transform: rotate(-8deg);
            }
            @media (max-width: 768px) {
              width: 70px;
            }
          }
        }
      }
    }
    .sec06 {
      background-color: var(--white-color);
      text-align: center;
      .sec06__top-bg {
        width: 100%;
      }
      .update__titie {
        margin: 43px auto 23px;
        display: inline-block;
        font-size: 1.5rem;
        padding-bottom: 5px;
        border-bottom: var(--font-color) solid 0.5px;
      }
      .update__list {
        text-align: left;
        &:last-child {
          margin-bottom: 45px;
        }
        
        .update_link {
          width: 340px;
          margin: 0 auto 10px;
          padding: 5px 10px 5px;
          border-bottom: var(--accent-green01) solid 0.5px;
          cursor: pointer;
          display: block;
          transition: opacity 0.3s ease, opacity 0.3s ease;
          &:hover {
            opacity: 0.7;
          }
        
          .update__time {
            font-size: 1rem;
          }
          .update__text {
            font-size: 1.125rem;
          }
        }
      }
    }
    .sec07 {
      background-color: var(--bg-yellow);
      .sec07__top-img {
        width: 100%;
      }
      .term__title {
        width: 200px;
        margin: 70px auto 23px;
        font-size: 1.5rem;
        padding-bottom: 5px;
        border-bottom: var(--font-color) solid 0.5px;
      }
      .term__text {
        width: 90%;
        max-width: 550px;
        margin: 0 auto;
        line-height: 1.7;
      }
    }
    .footer {
      background-color: var(--bg-yellow);
      text-align: center;
      .footer__top-img {
        width: 100%;  
      }
      .footer__copy {
        display: inline-block;
        margin: 40px auto 70px;
      }
      .footer__flower {
        display: block;
        width: 52px;
        margin: 0 auto;
        padding-bottom: 40px;
      }
    }
  }

  .right__column {
    flex: 1;
    top: 40px;
    position: sticky;
    height: 100vh;
    @media (max-width: 768px) {
        display: none;
    }  
  }
}