@font-face {
  font-family: 'ZenMaruGothic';
  src: url('../../assets/fonts/ZenMaruGothic-Regular.woff2') format('woff2');
  font-weight: 500;
  font-style: regular;
  font-display: block;
}

@font-face {
  font-family: 'ZenMaruGothic';
  src: url('../../assets/fonts/ZenMaruGothic-Medium.woff2') format('woff2');
  font-weight: 600;
  font-style: medium;
  font-display: block;
}

@font-face {
  font-family: 'ZenMaruGothic';
  src: url('../../assets/fonts/ZenMaruGothic-Light.woff2') format('woff2');
  font-weight: 400;
  font-style: light;
  font-display: block;
}

@font-face {
  font-family: 'ZenMaruGothic';
  src: url('../../assets/fonts/ZenMaruGothic-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: bold;
  font-display: block;
}

@font-face {
  font-family: 'ZenMaruGothic';
  src: url('../../assets/fonts/ZenMaruGothic-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: black;
  font-display: block;
}


body {
  font-size: 16px;
  --font-color: #6C3B01;
  --font-color-accent: #B45C4C;
  --bg-base-color: #F5F8FF;
  --bg-yellow: #FFFB8C;
  --bg-lightBlue: #B5E1FF;
  --bg-green: #A5FF9F;
  --bg-lightpink: #FFE6E6;
  --bg-pink: #FFD5D5;
  --accent-orange: #FD5000;
  --accent-red:#FA9B9B;
  --accent-green01: #71936D;
  --accent-green02: #00B900;
  --white-color: #ffffff;
  font-family:'ZenMaruGothic', sans-serif;
  font-weight: 500;
  color: var(--font-color);
  line-height: 1.75;
  overflow-x: hidden;
}

/* 共通スタイル */
.bold {
  font-weight: bold;
}
.red {
  color: var(--accent-orange);
}
.under_line {
  background: linear-gradient(transparent 70%, var(--bg-pink) 70%);
}
.bg-blue {
  background-color: var(--bg-lightBlue);
}
.bg-green {
  background-color: var(--bg-green);
}
.bg_yellow {
  background-color: var(--bg-yellow);
}
.bg-white {
  background-color: var(--white-color);
}
.pc_only {
  display: block;
  @media (max-width: 768px) {
    display: none;
  }
}
.sp_only {
  display: none;
  @media (max-width: 768px) {
    display: block;
  }
}

/* 共通ボタン */
.button {
  cursor: pointer;
  display: flex;
  margin: 20px auto 30px;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  border-bottom: var(--accent-green01) 2px dashed;
  transition: opacity 0.3s ease;
  &:hover {
    opacity: 0.6;
  }
  span {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--accent-green01);
  }
  i {
    display: block;
    margin-bottom: 10px;
  }
}
/* 共通 検索バーとボタン */
.search__wrapper {
  margin-top: 20px;
  margin-bottom: 50px;

  input {
    width: 248px;
    height: 50px;
    border-radius: 20px;
    background-color: var(--white-color);
    border: var(--accent-green02) solid 2px;
    padding-left: 23px;
    color: var(--font-color);
    font-size: 1.25rem;
    margin-right: 8px;
  }
  button {
    background-color: #FFECEC;
    width: 80px;
    height: 50px;
    border: var(--accent-green02) solid 2px;
    border-radius: 20px;
    font-size: 1.375rem;
    text-align: center;
  }
}

/* ローディング */
#loading {
  position: fixed;
  inset: 0;
  background: var(--bg-base-color);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 1.5s ease,
              visibility 1.5s ease;
}
.loading__inner {
  text-align: center;
}
.loading__title {
  font-size: 2rem;
  font-weight: 400;
  color: #666;
  opacity: 0;
  transform: translateY(10px);
  animation: fadeUp 2s ease forwards;
  & img {
    width: 110px;
  }
}
.loading__text {
  margin-top: 10px;
  font-size: 1rem;
  color: var(--font-color);
  opacity: 0;
  animation: fadeIn 2s ease forwards;
  animation-delay: 1s;
}
@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
#loading.hidden {
  display: none;
}
/* spヘッダー */
.sp__header {
  display: none;

  @media (max-width: 768px) {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 10px;
    left: 0;
    right: 0;
    width: 100%;
    padding: 10px 0 10px 15px; 
    z-index: 100;
    height: 60px; 
    .logo__link {
      cursor: pointer;
      .logo {
        width: 85px;
        height: 50px;
      }

    }
    .hambergar__container {
      width: 127px;
      height: 60px;
      background-color: var(--accent-green02);
      border-radius: 27.5px 0 0 27.5px;
      display: flex;
      justify-content: center;
      gap: 30px;
      align-items: center;
      @media (max-width: 768px) {
        top: 10px;
      }
      
      .hambergar_box {
        width: 30px;
        height: 18px;
        position: relative;
        span {
          display: inline-block;
          height: 2px;
          width: 100%;
          background-color: var(--white-color);
          border-radius: 9999px;
          position: absolute;
          &:nth-child(1) {
            top: 0;
          }
          &:nth-child(2) {
            top: 50%;
            transform: translateY(-50%);
          }
          &:nth-child(3) {
            bottom: 0;
          }
        }
      }
      .serch__img {
        width: 30px;
        height: 30px;
      }
    }
  }
}

/* ハンバーガーメニュー */
.hambergar__container {
  cursor: pointer;
  position: fixed;
  top: 50px;
  right: 0;
  z-index: 200;
  width: 90px;
  height: 200px;
  border-radius: 10px 0 0 10px;
  padding: 60px auto 30px;
  background-color: var(--accent-green02);
  right: 0;
  transition: right 0.3s ease, height 0.3s ease;
  &.active {
    right: 450px;
    height: 110px;
    .hambergar__box {
      span {
        &:nth-child(1) {
          transform: translate(-50%, 0) rotate(45deg);
          top: 50%;
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          transform: translate(-50%, 0) rotate(-45deg);
          bottom: auto;
          top: 50%;
        }
      }
    }
    .serch_img {
      display: none;
    }
  }
  .hambergar__box {
    padding-top: 60px;
    padding-bottom: 50px;
    width: 100%;
    height: 30px;
    position: relative;
    
    & span {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 35px;
      height: 4.5px;
      border-radius: 9999px;
      background-color: var(--white-color);
      transition: transform 0.7s ease;
      &:nth-child(1) {
        top: 40px;
      }
      &:nth-child(2) {
        top: 50%;
        transform: translate(-50%, -50%);
      }
      &:nth-child(3) {
        bottom: 40px;
      }
    }
    
  }
  .serch_img {
    width: 35px;
    height: 35px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

.hambergar__menu {
  position: fixed;  /* スクロール位置に関係なく常に画面に対して固定 */
  right: 0;
  top: 0;
  overflow-y: auto;
  height: 100vh;
  z-index: 9999;
  transform: translateX(100%);
  width: 450px;
  background-color: var(--white-color);
  border-left: var(--accent-green02) solid 20px;
  padding-left: 40px;
  padding-right: 40px;
  transition: transform 0.3s ease;
  .hambergar__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .go_to_home_link {
      margin-top: 20px;
      img {
        width: 100px;
      }
    }
    .hambergar__button {
      margin: 50px 40px 35px auto;
      width: 25px;
      height: 25px;
      position: relative;
    
      span {
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        height: 3px;
        width: 100%;
        background-color: var(--accent-green02);
        border-radius: 9999px;
        &:nth-child(1) {
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          transform: rotate(135deg);
        }
      }
    }
  }
  
  nav {
    margin-bottom: 60px;

    .nav__category-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 14px;
      padding-right: 14px;
      padding-bottom: 10px;
      padding-top: 10px;
      border-bottom: dotted var(--font-color) 0.75px;

      &:has(.accordion__button.active) + ul {
        display: block;
      }
      .nav__category-title {
        font-size: 1.25rem;
      }
      
      .accordion__button {
        width: 20px;
        height: 20px;
        position: relative;
        cursor: pointer;
        

        span {
          position: absolute;
          height: 1.5px;
          border-radius: 9999px;
          width: 100%;
          background-color: var(--font-color);
          transition: transform 0.5s ease;

          &:nth-child(1) {
            left: 0;
            top: 50%;
            transform: translateY(-50%) rotate(0deg);
          }
          &:nth-child(2) {
            top: 50%;
            left: 0;
            transform: rotate(90deg) translateY(-50%);
          }
        }
        &.active {          
          span {
            &:nth-child(1) {
              display: none;
            }
            &:nth-child(2) {
              transform: rotate(0deg);
            }
          }
        }
      }
    }
    ul {
      display: none; /*  初期非表示 */
      transition: display 0.5s ease;
      margin-top: 16px;
      margin-bottom: 25px;
      
      li {
        margin-bottom: 16px;
        padding-left: 14px;
        a {
          cursor: pointer;
          span {
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            margin-right: 10px;
            background-color: transparent;
            border: 2px solid;
            opacity: 0.4;
          }
          .green {
            border-color: var(--accent-green02);
          }
          .orange {
            border-color: var(--accent-orange);
          }
          .red {
            border-color: var(--accent-red);
          }
        }
      }
    }
  }
  .button_wrapper {
    text-align: center;
  }
  .close-hambergar__container{
    width: 95px;
    margin: 60px auto 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .hambergar__box {
      width: 20px;
      height: 20px;
      position: relative;

      span {
        height: 2px;
        width: 100%;
        background-color: var(--accent-green02);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        &:nth-child(1) {
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          transform: rotate(135deg);
        }
      }
    }
    .close-title {
      font-weight: normal;
    }
  }
  @media (max-width: 768px) {
    width: 360px;
    padding-left: 20px;
    padding-right: 20px;
    .hambergar__button {
      margin: 35px 25px 25px auto;
    }
    .search__wrapper {
      margin-bottom: 25px;
      display: flex;
      justify-content: space-between;
      input {
        width: 220px;
        font-size: 1rem;
      }
      button {
        width: 65px;
        font-size: 1rem;
      }
    }
  }
}


/* トップページ */
#main.container {
  width: 100%;
  display: flex;
  align-items: start;
  background-color: var(--bg-base-color);
  position: relative;

  .left__column {
    flex: 1;
    position: sticky;
    top: 250px;
    height: 100vh;

    @media (max-width: 768px) {
      display: none;
    }

    .line__container {
      display: block;
      position: sticky;
      top: 50%;
      transform: translateY(-50%);
      width: 80%;
      max-width: 255px;
      margin: 0 auto;
      background-color: white;
      border-radius: 20px;
      padding: 30px 20px;
      text-align: center;
      transition: opacity 0.3s ease;
      &:hover {
        opacity: 0.7;
      }
      .line__img {
        width: 65px;
        margin-bottom: 20px;
      }

      .qr__img {
        width: 80%;
        margin-bottom: 20px;
      }

      .oc__text_box {
        position: relative;
        display: inline-block;

        &::before {
          position: absolute;
          left: -1em;
          top: 0;
          content: '';
          width: 2px;
          height: 100%;
          background-color: var(--font-color);
          border-radius: 3px;
          transform: rotate(-30deg);
          @media (max-width: 1084px) {
            background-color: transparent;            
          }
        }

        &::after {
          position: absolute;
          right: -1em;
          top: 0;
          content: '';
          width: 2px;
          height: 100%;
          background-color: var(--font-color);
          border-radius: 3px;
          transform: rotate(30deg);
          @media (max-width: 1084px) {
            background-color: transparent;            
          }
        }

        .oc__text {
          font-size: 1rem;
          @media (max-width: 1083px) {
            font-size: 0.85rem;
          }
          @media (max-width: 904px) {
            display: none;
          }
          .column_br {
            display: none;
            @media (max-width: 1025px) {
              display: block;              
            }
          }
        }
      }
    }
  }

  .center__column {
    width: 100%;
    max-width: 600px;
    flex-shrink: 0;
    background-color: var(--white-color);

    @media (max-width: 768px) {
      width: 100%;
      max-width: 100%;
    }
    
    .center__wrapper {
      height: 350px;
      background: url(../images/background/bg_yellow.webp) no-repeat top center;
      text-align: center;
      @media (max-width: 768px) {
        background-size: 160% 280px;
        padding-top: 60px;
        height: 310px;
      }
      
      
      .logo__link {
        @media (max-width: 768px) {
          display: none;
        }
        .logo {
          width: 125px;
          display: inline-block;
          margin: 50px auto 45px;
        }
      }

      .title {
        font-size: 1.5rem;
        @media (max-width: 768px) {
          padding-top: 50px;
        }
      }

      .subtitle {
        font-size: 1.25rem;
      }
    }

    .hero {
      position: relative;
      z-index: 0;
      margin: 30px 0 80px;
      display: block;
    }

    .sec01 {
      width: 90%;
      margin: 0 auto;
      text-align: center;

      .about_site_title {
        display: inline-block;
        padding-bottom: 10px;
        margin-bottom: 30px;
        font-size: 1.5rem;
        border-bottom: solid 0.5px var(--font-color);
      }

      .about_site_text {
        font-size: 1.125rem;
        text-align: left;
        margin-bottom: 30px;
        @media (max-width: 768px) {
          font-size: 1rem;
          margin-bottom: 40px;         
        }
      }
    }
    .bg_lightblue {
      position: relative;
      top: 1px;
      width: 100%;
      margin-top: 30px;
      @media (max-width: 768px) {
        margin-top: 40px;        
      }
    }
    
    .sec02 {
      text-align: center;
      padding-bottom: 70px;
      
      .sec02__center {
        text-align: center;
        .sec02__title {
          display: inline-block;
          margin: 95px auto 10px;
          font-size: 1.5rem;
          padding-bottom: 10px;
          border-bottom: var(--font-color) dotted 0.5px;
        }
        .sec02__sub-title {
          margin: 10px auto 90px;
          font-size: 1.125rem;
        }
      }
      
      .support {
        position: relative;
        margin: 0 auto 35px;
        width: 157px;
        height: 203px;

        .support__accent {
          position: absolute;
          top: -40px;
          right: -40px;
          width: 65px;
        }
        .support__button {
          cursor: pointer;
          display: block;
          border: var(--white-color) solid 1px;
          border-radius: 30px;
          box-shadow: var(--font-color) 0 5px 0;
          &.lightpink {
            background-color: var(--bg-lightpink);
            transition: opacity 0.3s ease;
            &:hover {
            opacity: 0.7;
            }
          } 
          .support__title {
            display: inline-block;
            margin-top: 15px;
            font-size: 1.5rem;
            padding-bottom: 10px;
            border-bottom: var(--font-color-accent) solid 1px;
            @media (max-width: 768px) {
              font-size: 1.25rem;
            }
          }
          .support__img {
            margin: 15px auto;
            display: block;
            width: 50px;
            height: 50px;
          }
          .support__text {
            font-size: 0.9375rem;
            margin-bottom: 15px;
          }
        } 
      }
      .support-info__button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 340px;
        margin: 38px auto;
        border: var(--white-color) solid 1px;
        box-shadow: var(--font-color) 0 5px 0;
        border-radius: 30px;
        padding: 15px 15px 15px 25px;
        text-align: left;
        &.lightpink {
          background-color: var(--bg-lightpink);
          transition: opacity 0.3s ease;
          &:hover {
            opacity: 0.7;
          }
        }
        &.pink {
          background-color: var(--bg-pink);
          transition: opacity 0.3s ease;
          &:hover {
            opacity: 0.7;
          }
        } 
        .support__botton-left {
          .support__title {
            font-size: 1.375rem;
            padding-bottom: 5px;
            border-bottom: var(--font-color-accent) solid 1px;
            @media (max-width: 768px) {
              font-size: 1.25rem;
            }
          }
          .support__subtitile {
            padding-top: 7px;
            font-size: 0.9375rem;
          }
        }
        .support__img {
          &:first-child {
            width: 50px;
          }
          &:nth-child(2) {
            width: 45px;
          }
          &:nth-child(3) {
            width: 75px;
          }
          &:last-child {
            width: 55px;
          }
        }
      }
    }
    .sec03 {
      padding-top: 70px;
      padding-bottom: 50px;
      position: relative;
      text-align: center;
      .sec03__top-img {
        position: absolute;
        top: -5px;
        left: 0;
        right: 0;
      }
      .sec03__top-img {
        margin-bottom: 112px;
      }
      .future__img {
        display: block;
        margin: 112px auto 0;
        width: 250px;
        padding-bottom: 18px;
        border-bottom: var(--font-color) solid 0.5px;
      }
      .qol {
        width: 370px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        text-align: left;
        font-size: 1.125rem;
        @media (max-width: 769px) {
          font-size: 0.975rem;
          width: 90%;
          max-width: 330px;
        }
      }
      .flower {
        width: 90px;
        display: block;
        margin: 77px auto 140px;
        @media (max-width: 768px) {
          width: 60px;
          margin-bottom: 80px;
        }
      }
      .enquete__link {
        cursor: pointer;
        display: block;
        width: 380px;
        margin: 0 auto 30px;
        transition: opacity 0.3s ease;
        &:hover {
          opacity: 0.7;
        }
        @media (max-width: 768px) {
          width: 340px;
        }
        .enquete_link-img {
          width: 100%;
        }
        .button {
          &:nth-child(1) {
            margin-bottom: 20px;
          }
        }
      }
    }
    .sec04 {
      background-color: var(--white-color);
      position: relative;
      text-align: center;
      .sec04__top-img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
      }
      .about-sle__title {
        display: inline-block;
        margin-bottom: 30px;
        padding-top: 140px;
        font-size: 1.5rem;
        padding-bottom: 5px;
        border-bottom: var(--font-color) solid 0.5px;
      }
      p {
        text-align: left;
        width: 80%;
        max-width: 540px;
        margin: 0 auto 66px;
      }
      .about-sle__enquete {
        margin-bottom: 100px;
      }
    }
    .sec05 {
      background-color: var(--bg-green);
      position: relative;
      text-align: center;
      padding-bottom: 80px;
      .sec05__top-bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
      }
      .concern__title {
        padding-top: 120px;
        display: inline-block;
        font-size: 1.5rem;
        padding-bottom: 10px;
        border-bottom: var(--font-color) solid 0.5px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
      }
      p {
        font-size: 1.125rem;
        @media (max-width: 768px) {
          font-size: 1rem;
        }
      }
      .concern__wrapper {
        width: 80%;
        max-width: 500px;
        margin: 40px auto;
        height: 220px;
        position: relative;
        @media (max-width: 768px) {
          width: 90%;
        }
        .concern__link {
          .darusa {
            width: 125px;
            position: absolute;
            top: 0;
            left: 0;
            transition: transform 0.3s ease, opacity 0.3s ease;
            &:hover {
              opacity: 0.7;
              transform: rotate(-8deg);
            }
            @media (max-width: 768px) {
              width: 110px;
            }
          }
          .fuan {
            width: 99px;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%) rotate(-3deg);
            transition: transform 0.3s ease, opacity 0.3s ease;
            &:hover {
              opacity: 0.7;
              transform: translateX(-50%) rotate(-11deg);
            }
            @media (max-width: 768px) {
              width: 95px;
            }
          }
          .school {
            width: 99px;
            position: absolute;
            top: 0;
            right: 10px;
            transition: transform 0.3s ease, opacity 0.3s ease;
            &:hover {
              opacity: 0.7;
              transform: rotate(-8deg);
            }
            @media (max-width: 768px) {
              width: 90px;
            }
          }
          .doctor {
            width: 230px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            transition: transform 0.3s ease, opacity 0.3s ease;
            &:hover {
              opacity: 0.7;
              transform: rotate(-3deg) translateY(-50%);
            }
            @media (max-width: 768px) {
              width: 200px;
            }
          }
          .skin {
            width: 97px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            transition: transform 0.3s ease, opacity 0.3s ease;
            &:hover {
              opacity: 0.7;
              transform: rotate(-8deg) translateY(-50%);
            }
            @media (max-width: 768px) {
              width: 90px;
            }
          }
          .qol {
            width: 170px;
            position: absolute;
            bottom: 0;
            left: 20px;
            transition: transform 0.3s ease, opacity 0.3s ease;
            &:hover {
              opacity: 0.7;
              transform: rotate(-8deg);
            }
            @media (max-width: 768px) {
              width: 160px;
            }
          }
          .medicine {
            width: 75px;
            position: absolute;
            bottom: 0px;
            right: 40px;
            transition: transform 0.3s ease, opacity 0.3s ease;
            &:hover {
              opacity: 0.7;
              transform: rotate(-8deg);
            }
            @media (max-width: 768px) {
              width: 70px;
            }
          }
        }
      }
    }
    .sec06 {
      background-color: var(--white-color);
      text-align: center;
      .sec06__top-bg {
        width: 100%;
      }
      .update__titie {
        margin: 43px auto 23px;
        display: inline-block;
        font-size: 1.5rem;
        padding-bottom: 5px;
        border-bottom: var(--font-color) solid 0.5px;
      }
      .update__list {
        text-align: left;
        &:last-child {
          margin-bottom: 45px;
        }
        
        .update_link {
          width: 340px;
          margin: 0 auto 10px;
          padding: 5px 10px 5px;
          border-bottom: var(--accent-green01) solid 0.5px;
          cursor: pointer;
          display: block;
          transition: opacity 0.3s ease, opacity 0.3s ease;
          &:hover {
            opacity: 0.7;
          }
        
          .update__time {
            font-size: 1rem;
          }
          .update__text {
            font-size: 1.125rem;
          }
        }
      }
    }
    .sec07 {
      background-color: var(--bg-yellow);
      padding-bottom: 70px;

      .sec07__top-img {
        width: 100%;
      }
      .term__title {
        width: 200px;
        margin: 70px auto 23px;
        font-size: 1.5rem;
        padding-bottom: 5px;
        border-bottom: var(--font-color) solid 0.5px;
      }
      .term__text {
        width: 90%;
        max-width: 550px;
        margin: 0 auto;
      }
    }
    
    .footer__top-img {
      height: 30px;
      width: 100%;
      transform: translateY(-30px); 
    }
    .footer {
      background-color: var(--bg-yellow);
      text-align: center;
      margin-top: -30px;
      padding-top: 20px;

      .footer__copy {
        display: inline-block;
        margin: 40px auto 70px;
      }
      .footer__flower {
        display: block;
        width: 52px;
        margin: 0 auto;
        padding-bottom: 40px;
      }
    }
  }
  
  #about__site.center__column {
    .center__wrapper {
      .title {
        display: inline-block;
        font-size: 1.75rem;
        padding-bottom: 5px;
        margin-top: 30px;
        margin-bottom: 27px;
        border-bottom: var(--font-color) solid 1px;
      }
    }
    .sec01 {
      .text {
        text-align: left;
        font-size: 1.125rem;
        &:last-child {
          margin-bottom: 70px;
        }
      }
    }
    .bg__img {
      width: 100%;
    }
    .sec02 {
      background-color: var(--bg-yellow);
      padding-bottom: 30px;
    }
    .section__title {
      display: inline-block;
      font-size: 1.5rem;
      padding-bottom: 7px;
      border-bottom: var(--font-color) solid 0.5px;
      margin-bottom: 30px;
    }
    .section__text {
      text-align: left;
      font-size: 1.125rem;
      width: 90%;
      max-width: 500px;
      margin: 0 auto 37px;
    }
    .section__button {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 40px;
      width: 65px;
      height: 65px;
      border-radius: 50%;
      border: var(--accent-green01) solid 1px;
      background: transparent;
      cursor: pointer;
      transition: opacity 0.3s, border-color 0.3s;
      
      &:hover {
        opacity: 0.6;
        border-color: var(--accent-green02);
      }
      
      & svg {
        width: 28px;
        height: 28px;
        stroke: var(--accent-green01);
        fill: none;
        stroke-width: 1;
        stroke-linecap: round;
        stroke-linejoin: round;
        transition: stroke 0.3s ease, transform 0.3s ease;
      }
      &:hover svg {
        stroke: var(--accent-green02);
        transform: translateX(5px);
      }
    }
    .sec03 {
      background-color: var(--bg-lightBlue);
      padding-bottom: 10px;
    }
    section {
      position: relative;
      .bg__img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
      }
    }
    .sec04 {
      padding-top: 70px;
      background-color: var(--bg-green);
    }
    .sec05 {
      padding-top: 70px;
      padding-bottom: 10px;
      background-color: var(--bg-yellow);
    }
    .sec06 {
      padding-top: 90px;
      padding-bottom: 50px;
      background-color: var(--bg-lightBlue);
    }
  }
  #first.center__column {
    .center__wrapper {
      .logo__link {
        &.pc_only {
          display: block;
          @media (max-width: 768px) {
            display: none;
          }
        }
      }
      .title {
        font-size: 1.5rem;
        padding-bottom: 5px;
        border-bottom: var(--font-color) solid 1px;
        display: inline-block;
      }
    }
    .sec01 {
      .sub_title {
        display: inline-block;
        font-size: 1.25rem;
        margin-top: 30px;
        padding-bottom: 5px;
        border-bottom: var(--font-color) solid .5px;
        margin-bottom: 30px;
      }
      .first__text {
        text-align: left;
        margin-bottom: 22px;
      }
    }
    .sec02 {
      padding-top: 30px;
      .sec02__title {
        display: inline-block;
        font-size: 1.25rem;
        padding-bottom: 5px;
        border-bottom: var(--font-color) solid 0.5px;
        margin-bottom: 35px;
      }
      .sec02__links {
        width: 90%;
        margin: 0 auto 30px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 20px;
        @media (max-width: 768px) {
          flex-direction: column;
        }
        a {
          transition: opacity 0.3s ease;
          
          @media (max-width: 768px) {
            width: 70%;
          }
          &:hover {
            opacity: 0.6;
          }
        }
        span {
          font-size: 1rem;
        }
      }
    }
    .sec03 {
      position: relative;
      padding-bottom: 70px;
      .sec03__top-img {
        position: absolute;
        top: -40px;
        left: 0;
        right: 0;
      }
      .concern__title {
        font-size: 1.25rem;
        padding-bottom: 5px;
        border-bottom: var(--font-color) solid 0.5px;
        margin-bottom: 20px;
        display: inline-block;
      }
      .concern__text {
        font: 1.175rem;
      }
      .concern__wrapper {
        width: 80%;
        max-width: 500px;
        margin: 40px auto;
        height: 220px;
        position: relative;
        @media (max-width: 768px) {
          width: 90%;
        }
        .concern__link {
          .darusa {
            width: 125px;
            position: absolute;
            top: 0;
            left: 0;
            transition: transform 0.3s ease, opacity 0.3s ease;
            &:hover {
              opacity: 0.7;
              transform: rotate(-8deg);
            }
            @media (max-width: 768px) {
              width: 110px;
            }
          }
          .fuan {
            width: 99px;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%) rotate(-3deg);
            transition: transform 0.3s ease, opacity 0.3s ease;
            &:hover {
              opacity: 0.7;
              transform: translateX(-50%) rotate(-11deg);
            }
            @media (max-width: 768px) {
              width: 95px;
            }
          }
          .school {
            width: 99px;
            position: absolute;
            top: 0;
            right: 10px;
            transition: transform 0.3s ease, opacity 0.3s ease;
            &:hover {
              opacity: 0.7;
              transform: rotate(-8deg);
            }
            @media (max-width: 768px) {
              width: 90px;
            }
          }
          .doctor {
            width: 230px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            transition: transform 0.3s ease, opacity 0.3s ease;
            &:hover {
              opacity: 0.7;
              transform: rotate(-3deg) translateY(-50%);
            }
            @media (max-width: 768px) {
              width: 200px;
            }
          }
          .skin {
            width: 97px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            transition: transform 0.3s ease, opacity 0.3s ease;
            &:hover {
              opacity: 0.7;
              transform: rotate(-8deg) translateY(-50%);
            }
            @media (max-width: 768px) {
              width: 90px;
            }
          }
          .qol {
            width: 170px;
            position: absolute;
            bottom: 0;
            left: 20px;
            transition: transform 0.3s ease, opacity 0.3s ease;
            &:hover {
              opacity: 0.7;
              transform: rotate(-8deg);
            }
            @media (max-width: 768px) {
              width: 160px;
            }
          }
          .medicine {
            width: 75px;
            position: absolute;
            bottom: 0px;
            right: 40px;
            transition: transform 0.3s ease, opacity 0.3s ease;
            &:hover {
              opacity: 0.7;
              transform: rotate(-8deg);
            }
            @media (max-width: 768px) {
              width: 70px;
            }
          }
        }
      }
    }
  }
  #contact.center__column {
    .center__wrapper {
      .logo__link {
        display: block;
        cursor: pointer;
        .logo {
          margin-bottom: 20px;
        }
        @media (max-width: 768px) {
          display: none;
        }
      }
      .title {
        font-size: 1.25rem;
        padding-bottom: 5px;
        border-bottom: var(--font-color) solid 1px;
        margin-bottom: 10px;
        display: inline-block;
      }
    }
    .sec01 {
      .title__text {
        font-size: 1rem;
        text-align: left;
      }
      .sec01__flex {
        margin: 20px auto 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .sec01__flex-item {
          width: 25%;
          height: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1rem;
          border-radius: 20px;
          border: var(--bg-green) 3px solid;
          &.active {
            background-color: var(--bg-green);
          }
        }
        /* 親要素にposition: relativeが必要 */
        .triangle-wrapper {
          position: relative;
          display: inline-block;
          width: 0;
          height: 0;
        }
      }
      .thanks__text {
        text-align: left;
        margin-bottom: 70px;
      }
      .button {
        border-left: transparent;
        border-top: transparent;
        border-right: transparent;
      }
      form {
        margin-bottom: 100px;
        input {
          width: 235px;
          height: 42px;
          font-size: 1rem;
          padding-left: 0;
        }
        button {
          height: 42px;
          font-size: 1rem;
        }
      }
    }
    .sec02 {
      .form {
        text-align: left;
        width: 90%;
        margin: 0 auto;
        label {
        }
        input {
          padding: 4px;
          width: 100%;
          margin-top: 14px;
          margin-bottom: 25px;
          border-radius: 10px;
        }
        textarea {
          padding: 4px;
          width: 100%;
          margin-top: 14px;
          margin-bottom: 65px;
          border-radius: 10px;
        }
        button {
          border-left: transparent;
          border-right: transparent;
          border-top: transparent;
        }
      }
      p {
        width: 90%;
        margin: 0 auto;
        text-align: left;
      }
      &.confirm {
        width: 90%;
        margin: 0 auto;
        table {
          text-align: left;
          margin-bottom: 63px;
          tr {
            th {
              padding-top: 20px;
            }
            td {
              padding-bottom: 15px;
              border-bottom: var(--font-color) dotted 0.5px;
            }
          }
        }
        button {
          border-left: transparent;
          border-top: transparent;
          border-right: transparent;
          &.back {
            span {
              color: var(--font-color);
              font-weight: normal;
            }
          } 
        }
      }
    }
  }


  .right__column {
    flex: 1;
    top: 40px;
    position: sticky;
    height: 100vh;
    @media (max-width: 768px) {
        display: none;
    }  
  }
}
